{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="card-body">
    <div class="card-columns">
    {% for data in commentdata %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-card-title">{{ data.id}}<br/></p>
                <p class="card-text">{{ data.comment }}</p>
                <p class="card-text">{{ data.user }}</p>
                <p class="card-text">{{ data.ts }}</p>
                {% if user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'deletecomment' data.id %}" role="button">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %} 
    </div>
</div> 
{% endblock %}