{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block title %}
    <title>My Dict</title>
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
    />
  </head>
  <body>
    {% block navbar %}
    <nav
      class="navbar navbar-expand-lg sticky-top navbar-light d-flex justify-content-between"
    >
      <a class="navbar-brand" href="{% url 'index' %}">
          <img class="img-fluid d-block w-25" src="{% static 'img/logonav.png' %}" width="130" height="70" >
      </a>
      <form class="form-inline" action="/dict/search/" method="GET">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" id="search"/> -->
        <div class="input-group">
          <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" name="search" id="search">
          <div class="input-group-append">
            <select id="mode" name="mode" class="custom-select">
              <option selected value="word">Word</option>
              <option value="synonym">Synonym</option>
              <option value="antonym">Antonym</option>
              <option value="thaieng">Thai - English</option>
            </select>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'%}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact'%}">Contact Us</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ user.get_username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="{% url 'myfavorites'%}"class="dropdown-item">My Favorites</a>
              <a href="{% url 'createcrud'%}" class="dropdown-item">Add a new word</a>
                {% if user.is_superuser %}
                  <a href="{% url 'listcrud'%}" class="dropdown-item">list of word</a>
                  <a href="{% url 'admindeletecomment'%}" class="dropdown-item">list of comment</a>
                {% endif %}
              <a href="{% url 'logout'%}?next={{request.path}}"class="dropdown-item">Logout</a>
            </div>
          </li>

          {% else %}
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#loginModal"
              >Login</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}?next={{request.path}}"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}
    <div class="container pt-5">
      {% block content %}{% endblock %}
    </div>

    <div class="py-5" >
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center d-md-flex justify-content-between align-items-center">
              <ul class="nav d-flex justify-content-center">
                <li class="nav-item"> <a class="nav-link active" href="{% url 'index' %}">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'about'%}">About us</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'contact'%}">Contact us</a> </li>
              </ul>
              <p class="mb-0 py-1">© 2019 Shareplae. All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    <script>
      $("#search").autocomplete({
        source: (request, response) => {
          $.get("http://localhost/api/search/", {
            keyword: request["term"]
          }).then(data => {
            let set = [];
            data.forEach(x => {
              set.push(x["esearch"]);
            });
            response(set);
          });
        }
      });
    </script>
  </body>
</html>
